
# Un-ignore all of subtree
!/code/
!.gitignore

scott-davis-remote_api.json
config_file.txt
/deliverables/
/input/
/scratch/
/output/

.DS_Store
*.pper
.Rproj.user*

.Rproj.user

.Rhistory
.DS_Store
*.Rout
*/*.Rout

.DS_Store


!/boilerplate_project/data_products/
!/boilerplate_project/output
/boilerplate_project/input/*
/climate_in_eis_project/input/*
/climate_in_eis_project/scratch/*
/climate_in_eis_project/yearly_quanteda_tokens/*
/climate_in_eis_project/input/*

/transmission_lines/input/*

